# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb


# Evidence, json files, customization files and other intermediate files
from-mitre-CVE-2025-15467.customization
